@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.todoDone {
  @apply line-through bg-blue-50 rounded-lg shadow-sm p-5 border-dashed border border-blue-500 flex flex-col justify-between items-center gap-2;
}

.todoPending {
  @apply bg-red-50 rounded-lg shadow-sm p-5 border-dashed border border-red-500 flex flex-col justify-between items-center gap-2;
}