header {
    padding: 1rem;


    nav {
        display: flex;
        gap: 2rem;

        a {
            border: .05rem solid #b4b5b5;
            padding: 0.5rem 0.7rem;
            border-radius: 5px;
            cursor: pointer;
            font-weight: bold;
        }

        a:hover {
            background-color: #e9ebef;
        }
    }

    #fechas {
        input[type=date] {
            border: none;
            border-radius: 5px;
            background: #e9ebef;
            padding: 0.5rem 0.7rem;

        }
    }
}