main {
    #agregar {
        border-radius: 5px;
        border: none;
        background: #000;
        color: white;
        padding: 0.5rem 1rem;
    }

    #agregar:hover {
        opacity: 80%;
        cursor: pointer;
    }

    .ingreso {
        background-color: black;
        color: white;
        border-radius: 5px;
        padding: 0.2rem 0.5rem;
    }

    .fechaTarjeta {
        color: gray;
    }

    .precioIngreso {
        color: green;
        font-size: 1.5rem;
    }

    .modificar,
    .eliminar {
        padding: 0.2rem;
        cursor: pointer;
        border-radius: 5px;
    }

    .modificar:hover {
        background-color: rgb(232, 231, 231);

    }

    .eliminar:hover {
        background-color: rgb(255, 209, 209);

    }
}