html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body,
html {
    margin: 0;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}


.flex-col {
    flex-direction: column;
}

.gap-1 {
    gap: 0.5rem;
}

.gap-5 {
    gap: 5rem;
}

a {
    color: black;
    text-decoration: none;
}

.mx-5 {
    margin-left: 5rem;
    margin-right: 5rem;
}

.m-0 {
    margin: 0;
}

.mt-1 {
    margin-top: 0.5rem;
}

.p-0-5 {
    padding: 0.25rem 0;
}

.pt-2 {
    padding-top: 1rem;
}

.pb-2 {
    padding-bottom: 1rem;
}

.px-2 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.bg-slate {
    background-color: #dddddd;
}

.bg-white {
    background-color: white;
}

.w-full {
    width: 100%;
}

.text-gray {
    color: gray;
}

.font-bold {
    font-weight: bold;
}

.rounded-lg {
    border-radius: 15px;
}

.shadow-lg:hover {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.10);
}

.cursor-pointer {
    cursor: pointer;
}